.introducao-container{
    padding: 3.5rem 2rem;
}
.font-paragraph-audiences{
    font-weight: 200;
}

.padm-prgf{
    padding-bottom: 2rem;
    font-weight: 400;
    text-align: justify;
    width: 21rem;
}